.loginh1 {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    background:linear-gradient(135deg, #f1f1f1, #5Da174);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6vw;
    padding-top: 12vh;
    width:100%
}
.body{
    background: #e1e1da;
}

.top-ribbon{
    width: 100%;
    background-image: linear-gradient(-45deg,#00402a,#006747);
    padding:15px;
}

.bottom-ribbon{
    width: 100%;
    background-image: linear-gradient(-45deg,#003020,#005737);
    padding:15px;
    position:absolute;
    bottom:0;
}

.login-form {
    display: block;
    margin: 0 auto;
    height: 40%;
    width:40%;
    padding: 6px 20px;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: linear-gradient(135deg,  #006747c0, #00674750);
}

.login-cluster{
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 1.5vw;
}

.loginlabel{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    color:white;
    font-size: 1.5vw;
    box-sizing: border-box;
}
.logininput{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:black;
    font-size: 1.5vw;
    box-sizing: border-box;
}
legend {
    color: #f1f1f1;
    margin-left: 5px;
    text-decoration: none;
}
label {
    color: #f1f1f1;
    margin-left: 5px;
    text-decoration: none;
}
body {
    background-image: linear-gradient(-45deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
    ), url('https://www.nwmissouri.edu/images/header-img/drone%20campus%20august%20fall2018%20tw%2002069.jpg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #006747;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.TBSHeader {
    width: 100%;
    text-align: center;
    color: #f1f1f1;
    line-height: 2em;
    border-bottom: #006747;
    border-bottom-style: inset;
    border-bottom-width: 45px;
    margin-bottom: -126.5px;
    font-size: 6vw;
    height:200px;
    margin-top: 0px;

}

.page-title{
    background:linear-gradient(135deg, #f1f1f1, #5Da174);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 60px;
    width:100%;
    display: block;
    margin: 0;
    padding-top: 6vh;
    color: white;
    text-align: center;
}

.BookCodeYearTitle {
    text-align: center;
    height: 102px;
    font-weight: bolder;
    text-shadow: #000000;
    font-family: "Oswald", Arial, sans-serif;
    color: #f1f1f1;
    font-size: 36px;
    -webkit-text-stroke-width: .5pt;
    -webkit-text-stroke-color: #000000;
    line-height: 1em;
    padding-bottom: 0px;
    margin-bottom: -40px;
}
.btnCol {
    background-color: #006747;
    outline-color: black;
    margin-top: 5px;
    /*
    display: block;
    margin: auto;
    padding: 5px;
    color: #f1f1f1;
    align-content: center;
    font-size: 2vw;

     */
}
.btnCol:hover {
    background-color: #014811
}
.form-control {
    width: auto;
    height: auto;
}
.form-control:focus {
    border-color: #006747;
    box-shadow: 0 0 0 1.5px rgb(0, 103, 71);
}

.has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}
select option:checked,
select option:hover {
    border-color: #014811;
    outline:none;
    box-shadow: 0 0 10px 100px #006747 inset;
}
select:focus > option:checked {
    background: #006747 !important;
}

.column {
    float: left;
}
.left {
    width: 60%;
}
.middle {
    width: 30%;
    display: flex;
}
.right {
    width: 10%;
}
/*
.row:after {
    content: "";
    display: table;
    clear: both;
}

 */
.dropbtn {
    background-color: #006747;
    color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border: #f1f1f1;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #006747;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 2px;
}
.dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: transform 250ms;
}
.dropdown-content a:hover {
    transform: translateX(5px);
    background-color: #014811;
}

.dropdown:hover .dropdown-content {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);

}
.dropdown:hover .dropbtn {
    background-color: #014811;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.container {
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.tenPix {
    height: 10px;
    width: 100%;

}
.border {
    background-color: #f1f1f1;
    padding: 12px;
}
.pattinBetween {
    margin: 15px;
    padding: 15px
}
.width75 {
    width: 75%;
    height: 30px;
}
.center {
    width: 400px;
    display: flex;
    position: center;
    height: 250px;
}
.addlmargin {
    padding-left: 20px;
}
.page-body{
    display:inline-block;
    background-image: linear-gradient(135deg,#808080d5,#505050ff);
    /*
        testing backgrounds
        background-image: linear-gradient(247deg,#707070b5,#404040ff,#404040ff,#404040ff,#40f040ff);

     */
    width:100%;
}

.marginftn {
    margin: 15px;
}
.marginAuto {
    margin: auto;
    align: center;
}
.width85 {
    width: 85%;
}
.width20 {
    width: 20%;
}